body {
    --playback-logo-image: url('https://catenoid.net/ko/img/logo.png');
}
cast-media-player {
    --theme-hue: 100;
    --progress-color: rgb(0, 255, 0);
    --splash-image: url('https://catenoid.net/ko/img/visual_img01.png');
    --splash-size: cover;
}
#debugDiv {
    position: static;
    left: 0;
    top: 0;
    z-index: 99999;
    color: white;
    background-color: black;
}